*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family:"宋体","微软雅黑", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}


